body{
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXUjJePre4r8q9bqZ0zbriWJnRXsVibCNM_g&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
}
table{
border: 2px black solid ;
} 
td{
    border: 2px solid black;
}
input[type=button] {
    width:100px;
    height: 50px;
    font-size: large;
}
#special{
    width: 210px;
}
#result{
    width: 430px;
    height: 50px;
    font-size: x-large;
}
h1{
font-size: 40px;
}
input[type=button]:hover{background-color:rgb(151, 193, 221)}